The goal of these modules is to streamline the checking of water fountains as items in Wikidata. The input should be a pandas dataframe that includes the structure: 'X' = longitude, 'Y' = latitude, 'name' = unique name of item

In [1]:
import pandas as pd
import import_ipynb
import warnings; warnings.simplefilter('ignore')
from pandas2quickstatements import write_query, identify_nearest_fountains

importing Jupyter notebook from pandas2quickstatements.ipynb
191124_192347
Python v 3.6.5

In [2]:
#Take the fountain data from csv file, convert to pandas
df = pd.read_csv("fontaines-a-boire.csv", sep = ";")
location = "Paris"

paris_fountain_data = df[['ID', 'Geo Point', 'A_BOIRE']]

print(paris_fountain_data.head())

#Split the geolocation into X and Y coordinates
geo_split = paris_fountain_data['Geo Point'].str.split(",", n = 1, expand = True)
paris_fountain_data['Y'] = geo_split[0].apply(lambda x: float(x))
paris_fountain_data['X'] = geo_split[1].apply(lambda x: float(x))
paris_fountain_data.drop(columns = 'Geo Point')

paris_fountain_data = identify_nearest_fountains(paris_fountain_data, location)

paris_fountain_data.head()

       ID                    Geo Point  A_BOIRE
0  1032.0  48.8455274608,2.25550660889        1
1  1019.0  48.8381521871,2.25870518213        0
2  1036.0  48.8572651165,2.26686423645        1
3   986.0   48.8530939586,2.2705187223        1
4   856.0  48.8409169077,2.27577864693        1

,ID,Geo Point,A_BOIRE,Y,X,nearest_qid,nearest_has_label_de,nearest_has_date,nearest_has_operator,nearest_has_code,nearest_has_water_type,match_found
0,1032.0,"48.8455274608,2.25550660889",1,48.845527,2.255507,Q3076303,False,False,False,False,False,no match
1,1019.0,"48.8381521871,2.25870518213",0,48.838152,2.258705,Q3076303,False,False,False,False,False,no match
2,1036.0,"48.8572651165,2.26686423645",1,48.857265,2.266864,Q3076299,False,False,False,False,False,no match
3,986.0,"48.8530939586,2.2705187223",1,48.853094,2.270519,Q3076299,False,False,False,False,False,no match
4,856.0,"48.8409169077,2.27577864693",1,48.840917,2.275779,Q23459533,False,False,False,False,False,no match

In [3]:
write_query(paris_fountain_data, location)

unclear match
ID                                                296
Geo Point                 48.8673321136,2.31791349622
A_BOIRE                                             0
Y                                             48.8673
X                                             2.31791
nearest_qid                                  Q3076190
nearest_has_label_de                            False
nearest_has_date                                 True
nearest_has_operator                            False
nearest_has_code                                False
nearest_has_water_type                          False
match_found                                   unclear
Name: 1094, dtype: object
wrote 'quickstatement_commands_Paris_drink_191124_192508.txt' with 5582 lines